* {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    font-family: Agrandir, sans-serif;
    font-size: 16px;
}
ul {
    list-style: none;
    background: white;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding-left: 16px;
    border-bottom: 4px;
    color: #242424;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
img {
    width: 50px;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: white;
    position: absolute;
    z-index: inherit;
    display: none;
}
ul li a:hover {
    background-color: #caf47d;
}
ul li:hover ul.dropdown {
    display: block;
}
ul li ul.dropdown li a {
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: 14px;
}
ul li ul.dropdown li a:hover {
    opacity: 0.8;
}
.new {
    text-align: center;
    font-weight: bold;
    background-color: #97dd12;
    padding-left: 452px;
    padding-right: 700px;
    padding-bottom: 5px;
    padding-top: 8px;
    font-size: 26px;
    width: 360px;
    line-height: 16px;
    margin-bottom: -24px;
}
span {
    font-weight: normal;
    font-size: 13px;
    font-family: Arial;
}

.treat {
    font-family: Agrandir, Verdana, Geneva, sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: rgb(52, 52, 52);
    width: 400px;
    padding-bottom: 40px;
    padding-left: 100px;
}
.offering {
    padding-left: 100px;
    padding-bottom: 30px;
}
.offer {
    background-color: rgb(6, 122, 70);
    color: #ffffff;
    border: solid;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 12px 24px;
    margin-left: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}
.explain {
    color: rgb(52, 52, 52);
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 560px;
    padding-left: 100px;
}
.too {
    padding-right: 100px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    margin-right: -6px;
    vertical-align: top;
    vertical-align: bottom;
}
.image-first {
    display: inline-block;
    margin-left: 0;
    vertical-align: top;
    vertical-align: bottom;
    background-size: contain;
    width: 673px;
    height: 400px;
}
.image-first img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: 673px;
    height: auto;
}
.first-phase {
    background-color: rgba(255, 236, 217, 1);
    margin-top: 24px;
    padding-right: 0px;
}
.WhyNearshoreMeals {
    font-size: 32px;
    line-height: 38px;
    font-family: Agrandir, sans-serif;
    font-weight: 400;
    line-height: 28px;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    color: #242424;
    font-size: 20px;
    text-align: center;
    font-size: 24px;
    padding: 40px 10px 30px 10px;
}
.globale-div {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}
.first-box {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.globale-all {
    margin-left: 186px;
    margin-right: 186px;
    display: flex;
}
.box1 {
    align-items: center;
    text-align: center;
    line-height: 18.4px;
}
.icone1 {
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125px;
    padding-top: 30px;
}
h3 {
    margin-bottom: 5px;
    font-family: Agrandir, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
}
.allbox {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.link1 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 24px auto auto;
}
.Get-offer2 {
    width: 100%;
    height: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 4px;
    border-style: none;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 24px;
    background-color: rgb(6, 122, 70);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
section {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 32px;
    background-color: #f8f8f8;
}
.slide {
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-position: 50% center;
    background-image: none;
    background-position: 50% 0%;
    padding-top: 56px;
    padding-bottom: 56px;
    background-image: none;
    background-size: cover;
    background-position: 0% center;
    box-sizing: border-box;
    margin: 0;
    display: block;
    unicode-bidi: isolate;
}
.TandP {
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    display: block;
    font-family: Agrandir, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 16px;
    padding-left: 16px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
}
.T {
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    display: block;
    font-family: Agrandir, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 8px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
}
.T2 {
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    display: block;
    font-family: Agrandir,Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
    text-align: center;
    font-weight: 500;
}
.P {
box-sizing: border-box;
color: rgb(36, 36, 36);
display: block;
font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif;
font-size: 14px;
font-weight: 400;
height: 20px;
line-height: 20px;
margin-block-end: 0px;
margin-block-start: 0px;
margin-bottom: 0px;
margin-inline-end: 296px;
margin-inline-start: 296px;
margin-left: 296px;
margin-right: 296px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
text-align: center;
text-size-adjust: 100%;
unicode-bidi: isolate;
width: 888px;
}
.container {
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    display: block;
    font-family: Agrandir, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 361px;
    line-height: 18.4px;
    margin-bottom: 0px;
    margin-left: 186px;
    margin-right: 186px;
    margin-top: 8px;
    max-width: 1140px;
    padding-bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
}
.gallery {
    width: 1092px;
    display: flex;
}
.gallery .iamge-list {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}
